<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title> 
</head>
<body>
	<h1>회원가입 페이지</h1>

	<hr>
	<h1>회원가입</h1>
	
	<form action="/joinProc" method="post">
		<label for="user_id">아이디 : </label>
		<input type="text" id="user_id" name="id" /><br> 
		
		<label for="user_pw">비밀번호 : </label> 
		<input type="password" id="user_pw" name="pw" /><br> 
		
		<label for="user_name">이름 : </label> 
		<input type="text" id="user_name" name="name" />
		<br> 소속 :<br>
		<!-- 교역자 -->
		<input type="radio" name="department" id="교역자" value="교역자">
		<label for="교역자">교역자</label><br>

		<!-- 부교역자 -->
		<input type="radio" name="department" id="부교역자" value="부교역자">
		<label for="부교역자">부교역자</label><br>

		<!-- 장년부 -->
		<input type="radio" name="department" id="장년부" value="장년부">
		<label for="장년부">장년부</label><br>

		<!-- 청년부 -->
		<input type="radio" name="department" id="청년부" value="청년부">
		<label for="청년부">청년부</label><br>

		<!-- 대학부 -->
		<input type="radio" name="department" id="대학부" value="대학부">
		<label for="대학부">대학부</label><br>

		<!-- 중고등부 -->
		<input type="radio" name="department" id="중고등부" value="중고등부">
		<label for="중고등부">중고등부</label><br>

		<!-- 은하수 (초등부) -->
		<input type="radio" name="department" id="초등부" value="은하수">
		<label for="초등부">초등부</label><br>

		<!-- 은하수 (어린이부) -->
		<input type="radio" name="department" id="어린이부" value="은하수">
		<label for="어린이부">어린이부</label><br> 
		
		성별 : <br> 
		<input type="radio" name="gender" id="남성" value="M">
		<label for="남성">남성</label><br> 
		<input type="radio" name="gender" id="여성" value="W"> 
		<label for="여성">여성</label><br> <br>

		<button type="submit">회원가입</button>
	</form>
</body>
</html>