<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bible.todo.domain.bible.mapper.BibleMapper">

    <select id="getBible" parameterType="int" resultType="String">
        SELECT content FROM bible WHERE bible_id = #{bible_id}
    </select>

</mapper>
