<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bible.todo.domain.checkbible.mapper.CheckBibleMapper">

	<insert id="checkVerse" parameterType="com.bible.todo.domain.checkbible.vo.CheckBibleVo">	
		insert into checkbible(user_id, bible_id, isCheck, lastdate) values(#{user_id},#{bible_id},1,NOW())
	</insert>
	
	<select id="hasCheck" parameterType="com.bible.todo.domain.checkbible.vo.CheckBibleVo" resultType="Map">
		select bible_id, isCheck from checkBible where user_id= #{user_id}
	</select>
	
	<select id="getLastReading" parameterType="com.bible.todo.domain.checkbible.vo.CheckBibleVo" resultType="Map">
		SELECT list, chapter, verse FROM bible WHERE bible_id  = (SELECT bible_id FROM checkbible where user_id = #{user_id} ORDER BY lastdate DESC LIMIT 1);
	</select>
</mapper>