<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bible.todo.domain.comments.mapper.CommentMapper">

	<insert id="writeComment" parameterType="com.bible.todo.domain.comments.vo.CommentVo">
		insert into comments(comment, creation_date, user_id, bible_id) values(#{comment}, NOW(), #{user_id}, #{bible_id})
	</insert>
	
	<select id="getBibleId" parameterType="com.bible.todo.domain.bible.vo.BibleVo" resultType="int">
		select bible_id from bible where list= #{list} and chapter= #{chapter} and verse= #{verse}
	</select>
	
	<select id="getComment" parameterType="com.bible.todo.domain.comments.vo.CommentVo" resultType="Map">
		select comment, like_count, creation_date, user_id from comments order by creation_date desc;
	</select>
</mapper>