<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bible.todo.domain.feedback.mapper.FeedbackMapper">
	<select id="getSuggestionList" parameterType="com.bible.todo.domain.feedback.mapper.FeedbackMapper">
		select id, user_id, title, feedback_date, suggest from feedback;
	</select>
	
	<insert id="postSuggest" parameterType="com.bible.todo.domain.feedback.mapper.FeedbackMapper">
		INSERT INTO feedback(user_id, title, suggest) VALUES(#{user_id},#{title},#{suggest});
	</insert>
	
	<select id="getMyFeedback" parameterType="com.bible.todo.domain.feedback.mapper.FeedbackMapper" resultType="Map">
		select title, suggest, feedback_date from feedback where user_id =#{user_id}
	</select>
	
</mapper>